.homePage {
  position: relative; /* Required for positioning the pseudo-element */
  background-image: url('public/bill.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Ensure text is centered */
}

.homePage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
  z-index: 1; /* Ensure the overlay is on top of the background image */
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
  height: 100%; /* Ensure full height for body */
}

.homePage h1, .homePage h2 {
  position: relative; /* Ensure the text is on top of the overlay */
  z-index: 2; /* Ensure the text is above the overlay */
  font-family: Arial, Helvetica, sans-serif;
  color: white; /* Set color to white for home page */
  margin: 0; /* Remove default margins */
}

h2 {
  margin-top: 20px; /* Adjust the spacing between h1 and h2 if needed */
}

h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black; /* Default color for other h1 and h2 elements */
}
